<div >
<p>Name:{{name}}</p>
<p>Age:{{age}}</p>
<p>Email:{{email}}</p>
<ul>
{{#each hobbies}}
<li>{{this}}</li>
{{/each}}
</ul>
<p>Address:</p>
<p>Місто:{{address.city}}</p>
<p>Номер картики:{{address.postalCode}}</p>
</div>